@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  font-family: Outfit, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color-scheme: light dark;
  color: #0B2E34;
  background-color: #E2E8DE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #F0F3EC;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #0B2E34;
    background-color: #ffffff;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #F0F3EC;
    background-color: #0B2E34;
  }
}

#cookiescript_injected a {
  color: #0c4c27;
}
